{% extends 'management/restaurantmanagement.html' %}
{% load staticfiles %}
{% block content %}
{{block.super}}
<div class="col-md-9" style="height:40vw;overflow-y:scroll">
  <div class="card">
    <div class="card-body">
      <div class="mb-3 ">
    <!-- Use An Image gallery plugin -->
    <img src="https://foodmandu.com//Images/Vendor/149/OriginalSize/chinatown_290119112738.jpg" alt=""class ="rounded mx-auto img-thumbnail mb-3" style="width:50vw;height:20vw;/>
    </div>

  <div class="about__description ">
    <span class="small-title"><h3 class="display-6">About China Town</h3></span>
    <p align="Justify"><b> China Town Chinese Restaurant and Bar</b>
 is an authentic Chinese Restaurant. Accepts credit card. It opens from 11AM to 10PM. This particular Chinese restaurant is one of the oldest Chinese restaurant in Kathmandu Valley. This restaurant has good popularity among Chinese food lovers. Because of it's fine food and warm hospitality it is bombarded with tons of good comments and recommendations.Not just on the same but if you enter here you would automatically believe that you just landed in China.This outlet has deep passion regarding Chinese foods and authentic taste.
Chicken, Ducks and Vegetable with Chinese spices makes your food even more delicious, amazing and appetizing. Thinking about Chinese food then definitely try here.</p>
  </div>
  </div>

    </div>
  </div>


{% endblock content %}
