{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'resturant/css/table_allocate.css' %}"> -->


</head>
<body>
  <div class=container">
    <div class="row">
<div class="col-md-9">
  <div class="card" >
    <div class="card-body">
      <h3 class="card-title"> Edit Category</h3>
      <form method="POST">
      {% csrf_token %}
      {{form.as_p}}
      <button class="btn btn-info" type="Submit">Edit</button>
      <a href="{% url 'viewMenu' %}" class="btn btn-info" align="center">Cancel</a>

      </form>
    </div>
  </div>
</div>
</div>
</div>
</body>
