{% load static%}
<html>
  <body>
    <h1>Orders</h1>

    {% for table in tables%}
    <h5>{{table}}<h5>
    <textarea id="log{{table.id}}" cols="100" rows="10"></textarea><br/>
    {% endfor %}   
    
  </body>

<script src = "{% static 'js/reconnecting-websocket.js'%}"></script>
<script>
var socketVar = new ReconnectingWebSocket('ws://'+window.location.host+'/ws/management/trackOrders/');
socketVar.onmessage = function(e){
  var data=JSON.parse(e.data);
  var table = data['table']
  var food = data['food']
  var quantity = data['quantity']
  var dateOfCreation = data['dateOfCreation']
  var costList = data['costList']
  var totalCost = data['totalCost']
  var paid = data['order_status']
  var id = data['id']
  document.getElementById('log'+id).value = '';
  document.getElementById('log'+id).value+=(" Table : " + table+'\t'+" Food : " + food+'\t'+" Quantity : "+quantity+'\t'+" Total Cost : " + totalCost+'\n'+'ID: '+ id + "\n");
};
socketVar.onclose=function(e){
  console.error('Socket closed unexpectedly');
}
</script>
</html>
