aniso8601==5.1.0
certifi==2019.6.16
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.8
django-crispy-forms==1.7.2
django-heroku==0.3.1
graphene==2.1.5
graphene-django==2.3.0
graphql-core==2.2
graphql-relay==0.4.5
gunicorn==19.9.0
idna==2.8
promise==2.2.1
psycopg2==2.8.2
python-dateutil==2.8.0
pytz==2019.1
relativetimebuilder==1.0.0
requests==2.22.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
urllib3==1.25.3
whitenoise==4.1.2
channels==2.2.0
channels-redis==2.4.0
asgi-redis==1.4.3
asgiref==1.1.2
