@font-face {
  font-family: "Arial-Black";
  src: url('../fonts/Arial Black.ttf') format("truetype");
}
@font-face {
  font-family: "Luminari-Regular";
  src: url('../fonts/Luminari.ttf') format("truetype");
}
