{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Menu.css' %}">
    <title>Apple Resturant</title>
</head>
<body style="background-color: rgba(235, 223, 223, 1.0);">
    <div class="container-fluid">
        <div class="row">
            <div class="col" ><img src="{% static 'img/orderissued-256063a0-4e1f-41cc-b21f-681d4050e65a200x200@2x.png' %}" alt="Apple Resturant" width="62%"></div>
            <div class="col" style="text-align:end; margin-top:6%"><a href="{% url 'table_allocate' %}"><img src="{% static 'img/orderissued-home-icon@2x.png' %}" alt="logo" width="28%"></a></div>
        </div>
    </div>
    
    <div class="container-fluid" style="text-align: center">
        <h3>Payment Successful ! </h3>
        <div class="container" style="text-align: center">
            <img src="{% static 'img/orderissued-iconfindertickmarkdark1398912@2x.png' %}" width="30%">
        </div>
        <br>
        <div class="row">
            <div class="col-sm-5"><a href="#" class="btn btn-danger " role="button" >End Session</a></div>
            <div class="col-sm-5" style="margin-top: 2%"><a href="{% url 'sessionBegin' table_name%}" class="btn btn-info btn-lg " role="button">Continue eating</a></div>
        </div>
        <br><br>
        <p> You can view your confirmed orders in the confirmed order section </p>

    </div>
    <br><br>
    <div class="container" style="margin-left: 4%">
        <a href="#"><img src="{% static 'img/confirmedorders-icons8-back-64@2x.png' %}" width="10%"></a> 
    </div>
    
</body>
</html>