{% load staticfiles %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name = "viewport" content="width = device-width, initial = 1.0">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />


</head>
<body>
{% if table_name.is_authenticated %}
<p> Welcome {{table_name}} </p>
{% else %}
<p> Not authenticated </p>
{% endif %}
<h2> Trending </h2>
<ul>
{% for trend in trending_foods%}
<a href="{% url 'food_details' trend.pk %}"><li> {{trend}} </li></a>
{% endfor %}
</ul>
<h2> Recommended </h2>
<br>
<a href="#"> Menu </a>
<br>
<a href="{% url 'pending_orders' table_name %}"> Pending order </a>
<br>
<a href="{% url 'confirmed_orders' table_name%}"> Confirmed order </a>
<br>
<a href="#"> End session </a>

</ul>
</body>
</html>


